[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
mongoengine = "*"
waitress = "*"
hupper = "*"
bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
